* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
  
  body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media screen and (min-width:600px) {
    nav li {
      height: 35px;
      font-size: small;
      border-bottom: 2px solid transparent; /* Initial invisible underline */
      transition: color 0.3s ease, font-size 0.3s ease, border-bottom 0.3s ease;
    }
  
    nav li:hover {
      color: blue;
      font-size:15px;
      border-bottom: 2px solid black; /* Shadow underline */
      text-shadow: 0.01px 0.01px 0.02px rgba(0, 0, 0,0); /* Add a black shadow for the text */
    }
  }
  
  
  /* Targeting the Link components */
  nav li a, nav li Link {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  
  nav li a:hover, nav li Link:hover {
    background-color: #f0f0f0;
  }
  
  nav li:first-child {
    margin-right: auto;
  }
  
  .sidebar {
    /* position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px; */
    /* position: fixed; */
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .sidebar li {
    width: 100%;
  }
  
  /* Sidebar links */
  .sidebar li a, .sidebar li Link {
    width: 100%;
  }
  
  .menu-button {
    display: none;
  }
  
  /* Responsive menu */
  @media (max-width: 800px) {
    .hideOnMobile {
      display: none;
    }
    
    .menu-button {
      display: block;
    }
  }
  
  @media (max-width: 400px) {
    .sidebar {
      /* height: 531vh; */
      width: 100%;
      z-index: 4;
      position: relative;
      top: -11px;
      overflow-x: hidden;
      overflow-y: hidden;
      
    }
    .nav-menu{
        display: none;
    }
  }
  